

 body{
 	background: url('images/bg.png');
 }

/*------------------------------------------/
/-----------------Header--------------------/
/------------------------------------------*/

*
{
	padding: 0px;
	margin: 0px;
}



.banner-text 
{
    display: table-cell;
    vertical-align: middle;
}
.arrow
{
    text-align: center;
    font-size: 60px;
    color: #2A2A2A;
    display: inline-block;
    margin: 30px -2px 0px 0px;
}
.arrow:hover, .arrow:focus
{
    text-align: center;
    font-size: 60px;
    color: #000;
    display: inline-block;
    margin: 30px -2px 0px 0px;
}
#heads:before, #heads:after {
	background: rgba(224, 224, 224, 0.75);
	content: '';
	left: 50%;
	position: absolute;
	width: 1px;
	z-index: 0;
}

#heads::before {
    height: calc(100%);
    opacity: 0.15;
    top: 0px;
}

#menu:before
{
	background: rga(224, 224, 224, 0.75);
	content: '';
	position: absolute;
	width: 100%;
	z-index: 0;
}
#menu::before {
    height: 1px;
    opacity: 0.15;
	bottom: 100px;
}

.tablebox
{
	display: table;
	width: 100%;
}
.hostyle
{
	font-family: 'Pacifico', cursive;
	color: #2B2B2B;
}
.pstyle
{
	font-family: 'Raleway', sans-serif;
	color: #292f33;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 2px;
	padding: 0px !important;
}
.banner-text h2
{
	color: #292f33;
	font-size: 40px;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}


.menubar
{
	margin-bottom: 0px !important;
	background-color: silver;
	border: none !important;
	border-radius: 0px !important;
	z-index: 2;
}

.logo
{
	padding: 24px 15px !important;
	display: inline-block;
	height: auto !important;
	font-family: 'Pacifico', cursive;
	color: #3B3738;
	font-size: 34px !important;	
}

.navstyle li a
{
	padding: 24px 15px !important;
	color: #2B2B2B;
	font-family: "Source Sans Pro",sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.navstyle li a:hover, .navstyle li a:focus, .navstyle li a.active
{
	background-color: #f3f3f3;
	color: #2A2A2A;
}

.navbar-right {
    float: right !important;
    margin-right: 0px !important;
}


/*------------------------------------------/
/-----------------Gallery-------------------/
/------------------------------------------*/

.gallery
{
	padding: 100px 0px;
}

.all-td
{
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	font-weight: 300;
	color: #404040;
	text-transform: uppercase;
	margin: 0px;
	letter-spacing: 2px;
}

.end{
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	font-weight: 600;
	color: #404040;
	text-transform: uppercase;
	margin: 0px;
	letter-spacing: 2px;
}

.alldesc h4
{
    color: grey;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 40px;
    margin-top: 0px !important;
    font-weight: 600;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.desc
{
	 font-family: "Source Sans Pro",sans-serif;
	 font-size: 25px;
	 font-weight: 400;
	 color: #404040;
}

.desc a{
	text-decoration: none !important;
}

.sorting
{
	background-color: rgba(0, 0, 0, 0.06);
	margin-top: 60px;
	color: #3ec9c3;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 15px;
	margin-left: 15px;
}

.sorting .active
{
	background-color: #3EC9C3;
	color: #fff;
}
.filimg
{
	padding: 10px 15px;
	cursor:pointer;
}
.galleryimg
{
	margin-top: 30px;
}
.mix
{
	padding: 0px;
}

h2{
	font-weight: bold !important;
	font-family: 'Raleway', sans-serif !important;
}






.social
{
	list-style: none;
	display: inline-block;
}
.social li
{
	display: inline-block;
	margin: 0px 5px;
}
.social li a
{
	color:#4A96AD;
	font-size: 35px;
	line-height: 0px !important;
}







/*------------------------------------------/
/-----------------About---------------------/
/------------------------------------------*/

.about
{
	padding: 100px 0px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}










/******** PANELS *********
*************************/

.lib-panel {
    margin-bottom: 20Px;
}

.lib-panel img {
    width: 100%;
    background-color: transparent;
}

.lib-panel .row,
.lib-panel .col-md-6 {
    padding: 0;
    background-color: #FFFFFF;
}


.lib-panel .lib-row {
    padding: 0 20px 0 20px;
}

.lib-panel .lib-row.lib-header {
    background-color: #FFFFFF;
    font-size: 14px;
    padding: 10px 20px 0 20px;
    font-family: 'Raleway', sans-serif;
}

.lib-panel .lib-row.lib-header .lib-header-seperator {
    height: 2px;
    width: 26px;
    background-color: #d9d9d9;
    margin: 7px 0 7px 0;
}

.lib-panel .lib-row.lib-desc {
    position: relative;
    height: 100%;
    display: block;
    font-size: 13px;
    font-family: "Source Sans Pro",sans-serif;
}

.lib-panel .lib-row.lib-desc a{
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 20px;
}

.row-margin-bottom {
    margin-bottom: 20px;
}

.box-shadow {
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
}

.no-padding {
    padding: 0;
}





.gallery a{
	text-decoration: none !important;
	color: #2B2B2B !important;
}